@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.text-yellow,
.text-yellow:active,
.text-yellow:focus,
.text-yellow:visited {
  color: #FFB703;
}
.text-yellow:hover {
  color: #ffd66f;
  text-shadow: 0 0 2px #ffd66f;
}
body {
  background-color: #f8f8f8;
}
.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}