
.navbar-toggler, .navbar-toggler:focus {
  border: 2px solid #8ECAE6;
  box-shadow: 0 0 3px #219EBC;
  padding: 0.7rem 1rem;

  .navbar-toggler-icon {
    display: none;
  }

  &::after {
    content: "☰";
    font-size: 1.5rem;
    color: #FFB703;
    text-shadow: 0 0 2px #FFB703;
    line-height: 0;
    transition: transform ease-in-out 0.5s;
  }
}

.header-img {
  display: none;
}

.container-links > * {
  font-size: 1.2rem;
  font-family: "Roboto", "sans-serif";
}

@media screen and (min-width: 768px) {
  .header-img {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 10px #081837;
  }
  .container-links {
    margin-right: 1rem;
  }
}