.mobile-socials {
  width: 1.7rem;
  border-radius: 5px;
  margin-left: 1rem;
  box-shadow: 0 0 5px #172e5282;
}

.photo-container {

  .img-profil-img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(2, 48, 71, 0.59);
  }
  h1 {
    color: #023047;

    & > span {
      color: #FFB703;
    }
  }
  h5 {
    margin-top: 1rem;
    font-style: italic;
    color: #023047;
  }
}